<ul class="navbar-nav me-auto text-center">
    <li class="nav-item bg-info">
        <a href="#" class="nav-link text-light "> <h5>FILTER</h5></a>
    </li>
    <li class="nav-item bg-light">
        <a href="#" class="nav-link text-dark "> <h5>FILTER</h5></a>
    </li>
    <li class="nav-item bg-light">
        <a href="#" class="nav-link text-dark "> <h5>FILTER</h5></a>
    </li>
    <li class="nav-item bg-light">
        <a href="#" class="nav-link text-dark "> <h5>FILTER</h5></a>
    </li>
    <li class="nav-item bg-light">
        <a href="#" class="nav-link text-dark "> <h5>FILTER</h5></a>
    </li>
    <li class="nav-item bg-light">
        <a href="#" class="nav-link text-dark "> <h5>FILTER</h5></a>
    </li>
    <li class="nav-item bg-light">
        <a href="#" class="nav-link text-dark "> <h5>FILTER</h5></a>
    </li>
    <li class="nav-item bg-light" style="margin-bottom: 40px;">
        <a href="#" class="nav-link text-dark "> <h5>FILTER</h5></a>
    </li>
    <li class="nav-item bg-info">
        <a href="#" class="nav-link text-light "> <h5>SORT</h5></a>
    </li>
    <li class="nav-item bg-light">
        <a href="#" class="nav-link text-dark "> <h5>SORT</h5></a>
    </li>
    <li class="nav-item bg-light">
        <a href="#" class="nav-link text-dark "> <h5>SORT</h5></a>
    </li>
    <li class="nav-item bg-light">
        <a href="#" class="nav-link text-dark "> <h5>SORT</h5></a>
    </li>
</ul>